<h1>Nuestos usuarios existentes al momento</h1>

{{#each users}}
<div>
    <p>Nombre: {{firstname}}</p>
    <p>Apellido: {{lastname}}</p>
    <p>Email: {{mail}}</p>
    <p>Teléfono: {{phone}}</p>
    <p>Edad: {{age}}</p>
<br>
</div>
{{/each}}